{{/* Testimonial - Ghost-inspired clean design */}}
{{ $quote := .Get "quote" }}
{{ $author := .Get "author" }}
{{ $role := .Get "role" }}
{{ $avatar := .Get "avatar" }}
{{ $rating := .Get "rating" }}
{{ $platform := .Get "platform" }}

<div class="testimonial">
  <div class="testimonial-quote">
    {{ if $quote }}
    {{ $quote }}
    {{ else }}
    {{ .Inner | plainify }}
    {{ end }}
  </div>
  
  <div class="testimonial-author">
    {{ if $avatar }}
    <div class="testimonial-avatar">
      <img src="{{ $avatar }}" alt="{{ $author }}" class="testimonial-avatar-img">
    </div>
    {{ end }}
    
    <div class="testimonial-info">
      {{ if $author }}
      <cite class="testimonial-name">{{ $author }}</cite>
      {{ end }}
      {{ if $role }}
      <div class="testimonial-role">{{ $role }}</div>
      {{ end }}
      {{ if $platform }}
      <div class="testimonial-platform">via {{ $platform }}</div>
      {{ end }}
    </div>
    
    {{ if $rating }}
    <div class="testimonial-rating">
      {{ range seq (int $rating) }}★{{ end }}
    </div>
    {{ end }}
  </div>
</div>