{{/* Testimonial Shortcode */}}
{{ $quote := .Get "quote" }}
{{ $author := .Get "author" }}
{{ $role := .Get "role" }}
{{ $avatar := .Get "avatar" }}
{{ $rating := .Get "rating" }}
{{ $link := .Get "link" }}
{{ $platform := .Get "platform" }}

<div class="testimonial">
  <div class="testimonial-content">
    {{ if $quote }}
    <blockquote class="testimonial-quote">
      "{{ $quote }}"
    </blockquote>
    {{ else }}
    <blockquote class="testimonial-quote">
      "{{ .Inner | plainify }}"
    </blockquote>
    {{ end }}
    
    {{ if $rating }}
    <div class="testimonial-rating">
      {{ range seq (int $rating) }}
      <span class="star">⭐</span>
      {{ end }}
    </div>
    {{ end }}
  </div>
  
  <div class="testimonial-author">
    {{ if $avatar }}
    <div class="testimonial-avatar">
      <img src="{{ $avatar }}" alt="{{ $author }}" class="testimonial-avatar-img">
    </div>
    {{ end }}
    
    <div class="testimonial-info">
      {{ if $author }}
      <cite class="testimonial-name">{{ $author }}</cite>
      {{ end }}
      {{ if $role }}
      <span class="testimonial-role">{{ $role }}</span>
      {{ end }}
      {{ if $platform }}
      <span class="testimonial-platform">{{ $platform }}</span>
      {{ end }}
    </div>
    
    {{ if $link }}
    <div class="testimonial-link">
      <a href="{{ $link }}" target="_blank" rel="noopener" class="testimonial-source">
        🔗 Fonte
      </a>
    </div>
    {{ end }}
  </div>
</div>